<div class="col-xs-12">
    <div class="page-header">
        <h1>Water bottle</h1>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
            <p>
                <b>Price:</b> 500 DKK
            </p>
            <p>
                <b>Description:</b> Straight from the himalayas
            </p>
            <p>
                <b>Quantity:</b> 1
            </p>
            <p>
                <b>Created date:</b> 30/9/2016 19:25
            </p>
            <p>
                <b>End date:</b> 30/2/2017 22:10
            </p>
        </div>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Place your bid</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <span class="input-group">
                        <span class="input-group-addon">DKK</span>
                        <input type="number" class="form-control"/>
                        <span class="input-group-addon">.00</span>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Place your bid</button>
            </form>
        </div>
    </div>
</div>