<div *ngIf="auctionInfo == null">
    <h1>Connecting to server...</h1>
</div>
<div *ngIf="auctionInfo != null">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{{auctionInfo.name}}</h1>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Details</div>
            <div class="panel-body">
                <p>
                    <b>Price:</b> {{auctionInfo.price}}
                </p>
                <p>
                    <b>Description:</b> {{auctionInfo.description}}
                </p>
                <p>
                    <b>Quantity:</b> {{auctionInfo.quantity}}
                </p>
                <p>
                    <b>Created date:</b> {{convertDate(auctionInfo.createdDate)}}
                </p>
                <p>
                    <b>End date:</b> {{convertDate(auctionInfo.endDate)}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Place your bid</div>
            <div class="panel-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <span class="input-group">
                            <span class="input-group-addon">DKK</span>
                            <input 
                                type="number"
                                class="form-control"
                                name="bid"
                                [(ngModel)]="bid"/>
                            <span class="input-group-addon">.00</span>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Place your bid</button>
                </form>
            </div>
        </div>
    </div>
</div>