<div class="page-header">
    <h1>Welcome to bidding.io</h1>
    <p class="lead">Basic auction system using REST and Socket.io to update data and Angular 2 as web-app framework.</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Current active auctions</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Auction title</th>
                    <th>Current bidding</th>
                    <th>Auction ends at</th>
                </tr>
            </thead>
            <tbody>
                <tr class="danger">
                    <td colspan="4" style="text-align: center;">Something went wrong. Please try again later. See the console for more information.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>